version: '3'

services:
  app:
    image: sysuipv6/syspt:latest
    env_file: .env
    restart: always
    ports: 
      - "8008:80"
    volumes:
      - "./.env:/app/.env"
      - "./storage:/app/storage"
      - "./config:/app/config"
    depends_on: 
      - mysql
      - redis
    command: 
      - sh
      - -c
      - |
        php artisan migrate
        nginx
        php-fpm
  mysql:
    image: mysql:8
    restart: always
    environment: 
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - "./mysql:/var/lib/mysql"
  redis:
    image: redis:5
    restart: always
