version: '3'

services:
  app:
    image: sysuipv6/syspt:latest
    env_file: .env
    restart: always
    ports: 
      - "8008:80"
    volumes:
      - "./.env:/app/.env"
      - "./storage:/app/storage"
      - "./config:/app/config"
    depends_on: 
      - mysql
      - redis
    command: 
      - sh
      - -c
      - |
        php artisan migrate 
        nginx
        php-fpm
  queue_worker:
    image: sysuipv6/syspt:latest
    env_file: .env
    restart: always
    user: www-data
    volumes:
      - "./.env:/app/.env"
      - "./storage:/app/storage"
      - "./config:/app/config"
    depends_on: 
      - mysql
      - redis
      - app
    command: 
      - php
      - artisan
      - queue:work
      - --sleep=3
      - --tries=3
  laravel_echo_server:
    image: sysuipv6/laravel-echo-server:latest
    restart: always
    env_file: .env
    depends_on: 
      - redis
    volumes:
      - "./laraval-echo-server.json:/app/laravel-echo-server.json"
  mysql:
    image: mysql:8
    restart: always
    environment: 
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - "./mysql:/var/lib/mysql"
  redis:
    image: redis:5
    restart: always
    volumes:
      - "./redis:/data"
    command: 
      - redis-server
      - --appendonly
      - 'yes'
