version: '3'

services:
  init:
    image: ${DOCKER_APP_IMAGE_NAME}:${DOCKER_APP_IMAGE_TAG}
    env_file: .env
    depends_on: 
      - mysql
      - laravel_echo_server_init
    restart: on_failure
    user: root
    volumes: 
      - "./.env:/app/.env"
      - "./data:/host"
    command: 
      - sh
      - -c
      - | 
        cp -ar storage config /host/
        cp -ar public /host/
        php artisan key:generate
        su www-data -s /bin/sh -c "php artisan migrate --seed"
  laravel_echo_server_init:
    image: sysuipv6/laravel-echo-server:latest
    env_file: .env
    volumes:
      - "./laravel-echo-server.json:/app/laravel-echo-server.json"
    command: 
      - laravel-echo-server
      - client:add
  mysql:
    image: mysql:8
    environment: 
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - "./data/mysql:/var/lib/mysql"
