version: '3'

services:
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "${DOCKER_EXPOSE_PORT}:80"
    volumes:
      - "./data/public:/app/public"
      - "./site.conf:/etc/nginx/conf.d/default.conf"
    depends_on: 
      - app
  app:
    image: ${DOCKER_APP_IMAGE_NAME}:${DOCKER_APP_IMAGE_TAG}
    env_file: .env
    restart: always
    volumes:
      - "./.env:/app/.env"
      - "./data/storage:/app/storage"
      - "./data/config:/app/config"
      - "./data/public:/app/public"
    depends_on: 
      - mysql
      - redis
  queue_worker:
    image: ${DOCKER_APP_IMAGE_NAME}:${DOCKER_APP_IMAGE_TAG}
    env_file: .env
    restart: always
    user: www-data
    volumes:
      - "./.env:/app/.env"
      - "./data/storage:/app/storage"
      - "./data/config:/app/config"
      - "./data/public:/app/public"
    depends_on: 
      - mysql
      - redis
      - app
    command: 
      - php
      - artisan
      - queue:work
      - --sleep=3
      - --tries=3
  laravel_echo_server:
    image: sysuipv6/laravel-echo-server:latest
    restart: always
    env_file: .env
    ports:
      - "8443:6001"
    depends_on: 
      - redis
    volumes:
      - "./laravel-echo-server.json:/app/laravel-echo-server.json"
  mysql:
    image: mysql:8
    restart: always
    environment: 
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - "./data/mysql:/var/lib/mysql"
  redis:
    image: redis:5
    restart: always
    volumes:
      - "./data/redis:/data"
    command: 
      - redis-server
      - --appendonly
      - 'yes'
