version: '3'

services:
  init:
    image: sysuipv6/syspt:latest
    env_file: .env
    depends_on: 
      - mysql
    restart: on_failure
    volumes: 
      - "./.env:/app/.env"
      - "./:/host"
    command: 
      - sh
      - -c
      - | 
        cp -ar storage config /host/
        php artisan key:generate
        su www-data -s /bin/bash -c "php artisan migrate --seed"

  mysql:
    image: mysql:8
    environment: 
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - "./mysql:/var/lib/mysql"
